<html>
<head>
<title>GoodToKnow Quiz</title>
</head>
<body bgcolor=#ffffff>

<h3>New Species of Pygmy Seahorse</h3>

<br>In the boulder-strewn waters off Japan's coast, researchers have discovered tiny seahorses that are the size of a grain of rice. These creatures camouflage with the algae-covered rocks and at first glance, they look like "floating seaweed" in the water. Scientists named the newly discovered sea animal 'Hippocampus japapigu', Latin for "Japan pig". Graham Short, an ichthyologist at the California Academy of Sciences says that it is "because to the locals, it resembles a tiny baby pig". Although they are tiny and hard to find, they are not rare.</br>

<br>Check the answer to each multiple-choice question, and click on the "Submit" button to submit the information.</br>

<p>1. What is the main idea of the article?<br>
<input type="radio">The main idea of the story is about the boulder-strewn waters off Japan's coast.<BR>
<input type="radio">The main idea of the story is a new type of miniature seahorse has been discovered.<BR>
<input type="radio">The main idea of the story is a new type of seaweed has been discovered.<BR>
<input type="radio">The main idea of the story is about a "Japan pig."<BR>
</p>

<p>2. What are 3 facts from the article?<br>
<input type="radio">The discovery of "sea pigs", they only eat a grain of rice, they are easy to find.<BR>
<input type="radio">A new discovery happened, the discovery is new, researchers are happy with their new discovery.<BR>
<input type="radio">The discovery happened off Japan's coast, each seahorse is the size of a grain of rice, they camouflage themselves in  algae-covered rocks.<BR>
<input type="radio">Researchers have discovered tiny seahorses, they live in rocks, they are related to pigs.<BR>
</p>

<p>3. What is the Author's tone?<br>
<input type="radio">Happy<BR>
<input type="radio">Mysterious<BR>
<input type="radio">Caring<BR>
<input type="radio">Disinterested<BR>
</p>

<p>4. What is the meaning of ______________?<br>
<input type="radio">Large<BR>
<input type="radio">Dirty<BR>
<input type="radio">Rocky<BR>
<input type="radio">Wet<BR>
</p>


<p>5. What is the conclusion of the article?<br>
<input type="radio">These newly discovered "sea pigs" will become food for the people of Japan.<BR>
<input type="radio">These newly discovered organisms will be researched around the world.<BR>
<input type="radio">These newly discovered seahorses found off of the coast of Japan are not rare.<BR>
<input type="radio">These horses are wanted by many people for being cute.<BR>
</p>

<br>
<br>
<br>
<br>
<input type="submit" value="Submit">
<input type="reset" value="Clear All Answers">

    <section class="end-section">
		  	<h4></h4>
		  	<div class="20%">
		  	  <img src="https://i.ibb.co/YksTYDD/melting20.png" alt="20-icon">
		  	  <span class="count"></span>
		  	 </div>
        	<div class="40%">
		  	  <img src="https://i.ibb.co/PcPZGkG/melting401.png" alt="40-icon">
		  	  <span class="count"></span>
		  	 </div>
		  	 <div class="wrong">
		  	   	<img src="https://i.ibb.co/8XMCPLv/melting01.png" alt="wrong-icon">
		    	  <span class="count"></span>
		  	 </div>
		     <input type="button" class="startover-button js-startover-button" value="Start Over">
    </section>


</form>
</body>
</html>





